@model Location

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.LocationName Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy2y0CG10pMr5Y5L16L2VZj3lIXzm"
          crossorigin="anonymous">
</head>
<body>
    <div class="container mt-4">
        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card-body">
                        
                        @if (Model.TopLocation)
                        {
                            <div class="star-icon">
                                <p class="star-icon">★★★★★</p>
                            </div>
                        }

                        <h1 class="card-title">@Model.LocationName</h1>
                        <p class="card-text">Description: @Model.LocationDescription</p>
                        <p class="card-text">Address: @Model.LocationAddress</p>
                        <p class="card-text">Price to Visit: @Model.PriceToVisit.ToString("C")</p>
                        <p class="card-text">Available to Visit: @Model.AvailableToVisit</p>

                        <h2 class="card-title mt-4">Category</h2>
                        <p class="card-text">Category Name: @Model.Category.CategoryName</p>
                        <p class="card-text">Category Description: @Model.Category.CategoryDescription</p>

                        <h2 class="card-title mt-4">Reviews</h2>
                        @if (Model.Reviews != null && Model.Reviews.Any())
                        {
                            <ul class="list-unstyled">
                                @foreach (var review in Model.Reviews)
                                {
                                    <li>
                                        <p>Review by: @review.ReviewUserName</p>
                                        <p>Rating: @review.ReviewRating</p>
                                        <p>Comment: @review.ReviewComment</p>
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p>No reviews available for this location.</p>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.LocationImageUrl" class="card-img" alt="@Model.LocationName">
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.1/dist/umd/popper.min.js"
            integrity="sha384-eMNCO6oV97ETct8olE7Ojrtu9mS2R2lBfXzqdu2Ku1/pR6S0pIFi46S/Jq09c2F"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy2y0CG10pMr5Y5L16L2VZj3lIXzm"
            crossorigin="anonymous"></script>
</body>
</html>
