@model iExploreMoldova.Models.ViewModel.LocationsListViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>iExplore Moldova</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy2y0CG10pMr5Y5L16L2VZj3lIXzm"
          crossorigin="anonymous">
</head>
<body>
    <div class="container mt-3">
        <h1>@Model.CurrentCategory</h1>
        <div class="row">
            @foreach (var location in Model.Locations)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="@location.LocationImageUrl" class="card-img-top" alt="@location.LocationName">
                        <div class="card-body">
                            <h5 class="card-title">@location.LocationName</h5>
                            <p class="card-text">@location.LocationDescription</p>
                            <p class="card-text"><strong>Price:</strong> @location.PriceToVisit.ToString("c")</p>
                            <p class="card-text"><strong>Category:</strong> @location.Category.CategoryName</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy2y0CG10pMr5Y5L16L2VZj3lIXzm"
            crossorigin="anonymous"></script>
</body>
</html>
