@model LocationsListViewModel



<div class="container mt-3">
    <h1>@Model.CurrentCategory</h1>
    <div class="row">
        @foreach (var location in Model.Locations)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="@location.LocationImageUrl" class="card-img-top img-fluid img-height" alt="@location.LocationName" />
                    
                    @if (location.TopLocation)
                    {
                        <div class="star-icon">★</div>
                    }
                    <div class="card-body">
                        <h4> <a class="location-name-display" asp-controller="Location" asp-action="Details" asp-route-id="@location.LocationId">@location.LocationName</a> </h4>
                        <p class="card-text">Price to visit: <strong>@location.PriceToVisit.ToString("c")</strong></p>
                        <p class="card-text">Category: <strong>@location.Category.CategoryName</strong></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.1/dist/umd/popper.min.js"
            integrity="sha384-eMNCO6oV97ETct8olE7Ojrtu9mS2R2lBfXzqdu2Ku1/pR6S0pIFi46S/Jq09c2F"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy2y0CG10pMr5Y5L16L2VZj3lIXzm"
            crossorigin="anonymous"></script>
