@model TicketsListViewModel

<h1 class="mt-4">Your Tickets List</h1>

@if (Model.TicketsList != null && Model.TicketsList.TicketList.Any())
{
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        @foreach (var ticket in Model.TicketsList.TicketList)
        {
            <div class="col mb-4">
                <div class="card h-100">
                    <img src="@ticket.Location.LocationImageUrl" class="card-img-top img-fluid" alt="@ticket.Location.LocationName">
                    <div class="card-body">
                        <h5 class="card-title">@ticket.Location.LocationName</h5>
                        <p class="card-text">Amount: @ticket.Amount</p>
                        <p class="card-text">Price: @ticket.Location.PriceToVisit.ToString("C")</p>
                        <p class="card-text">Total: @(ticket.Amount * (ticket.Location.PriceToVisit)).ToString("C")</p>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("AddToTicketsList", "TicketsList", new { ticket.Location.LocationId })" class="btn btn-primary">Add</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <p class="mt-3">Total: @Model.TicketsListTotal.ToString("C")</p>

    <a asp-controller="TicketsList" asp-action="RemoveFromTicketsList" class="btn btn-danger">Clear Tickets</a>
}
else
{
    <p>Your Tickets List is empty.</p>
}